# Pandas

Python 一直以來都非常適合資料處理，但她的分析能力很薄弱，pandas 的開發有助於補足 Python 資料分析的需求，讓使用者能夠在 Python 中執行完整的資料分析流程，而無需切換到 data-centric 的特定語言，如 R。

In [1]:
import pandas as pd

df = pd.DataFrame()
df["ticker"] = stock_tickers
df["stock_name"] = stock_names
df["price"] = prices
df.head()

NameError: name 'stock_tickers' is not defined

In [2]:
# boolean indexing
df[df["stock_name"].str.contains("KY")]

KeyError: 'stock_name'

pandas 提供了新的資料結構
- Series 是具備索引的 ndarray
- DataFrame 能完美處理表格式資料（tabular data）
- Panel 能為 DataFrame 加入第三個維度，通常為時間（Pandas 0.20.0 版本之後取消了此類別）

pandas 主要的應用場景
- 表格式資料的讀取
- 豐富的資料清理與分析函數
- 視覺化：包裝了常用的 matplotlib.pyplot 圖形

## 1.Pandas基礎

pandas 的命名源自她的資料結構
- Panel（自 Pandas 0.20.0 版本之後取消了此類別）
- DataFrame
- Series
- Index

### (1) pandas 中的 Series

使用 pd.Series() 函數創建 Series 類別，Series 從 ndarray 繼承了所有特性，並加上一組 Index。

In [ ]:
import pandas as pd

movie_ratings = [8.0, 7.3, 8.5, 8.6]
ser = pd.Series(movie_ratings)
print(type(ser))
print(ser)
print(ser[3])

這使得她不只能夠透過絕對位置來索引，亦可以透過像操作 dict 一般，以鍵（Key）作為選擇索引依據

In [ ]:
movie_ratings = [8.0, 7.3, 8.5, 8.6]
movie_titles = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
ser = pd.Series(movie_ratings, index=movie_titles)
print(ser)
print(ser["Avengers: Endgame"])

可以將 Series 視為一種較為泛用的 ndarray，同時具備 list 和 dict 的特性，以 .index 屬性與 .values 屬性可以將 Series 拆分為 Index 類別與 ndarray

In [ ]:
movie_ratings = [8.0, 7.3, 8.5, 8.6]
movie_titles = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
ser = pd.Series(movie_ratings, index=movie_titles)
print(ser.index)
print(ser.values)
print(type(ser.index))
print(type(ser.values))

### (2) pandas 中的 DataFrame

In [ ]:
movie_ratings = [8.0, 7.3, 8.5, 8.6]
movie_titles = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
df = pd.DataFrame() # DataFrame 初始化
df["title"] = movie_titles
df["rating"] = movie_ratings
print(type(df))
df

DataFrame 將多組共享 Index 的 Series 組合為一個具備列索引（row index）與欄標籤（column label）的資料集，我們可以進一步分拆成列索引、欄標籤與 Series

In [ ]:
movie_ratings = [8.0, 7.3, 8.5, 8.6]
movie_titles = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
df = pd.DataFrame()
df["title"] = movie_titles
df["rating"] = movie_ratings
print(df.index)
print("====")
print(df.columns)
print("====")
print(df["title"])
print("====")
print(df["rating"])

In [ ]:
print(df['title'])
print(type(df['title']))

In [ ]:
print(df['rating'])
print(type(df['rating']))

### (3) pandas 中的 Index
不論是 Series 或 DataFrame 物件都包含一個 Index 類別，作為萃取以及更新資料的根據，Index 可以被視為是一種結合了 tuple 的不可變（Immutable）特性以及 set 集合運算特性的資料結構類別，我們可以使用 pd.Index() 函數創建出下列的範例

In [ ]:
pd_index = pd.Index([0, 2, 3, 4])

In [ ]:
print(type(pd_index))
print(pd_index)

In [ ]:
# 繼承了tuple的不可變更性
pd_index[0] = 1

創建後不能更新，Index 也支援 Set 類別的集合運算，可以對兩組 Index 類別（如例子中的五個奇數、四個質數）使用交集、聯集與 XOR（Exclusive OR）

set的用途
- 取獨一值
- 集合運算

In [ ]:
odds_index = pd.Index([1, 3, 5, 7, 9])
primes_index = pd.Index([2, 3, 5, 7])
print(odds_index & primes_index) # and 是奇數也是偶數
print(odds_index | primes_index) # or
print(odds_index ^ primes_index) # exclusive or 彼此差異

## 2. 基礎技巧

- 創建
- 資料載入
- 索引、切割與篩選
- 排序
- 衍生變數
- 摘要、分組摘要

### (1) 創建
- 方法一 : 傳入類似清單
- 方法二 : 利用字典

常見創建 Series 的方式是使用 pd.Series() 函數傳入一個「類似清單（list-like）」的物件，包含 list 、tuple 或 ndarray，如果沒有指定另外一個「類似清單」的物件作為索引，Series 會自動以類似 range() 函數設定對應長度的索引

In [ ]:
# 創建Series 1
import pandas as pd
movie_ratings = [9.0, 8.9, 8.8, 8.7]
ser = pd.Series(movie_ratings)
print(ser)

在 pd.Series() 函數中加入 index 參數指定對應長度的索引

In [ ]:
movie_ratings = [9.0, 8.9, 8.8, 8.7]
movie_titles = ["The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
ser = pd.Series(movie_ratings, index=movie_titles)
print(ser.index)
print("======")
print(ser.values)
print("======")
print(ser)

Series 被設計成由一組索引與一組資料所搭建而成的資料結構，因此我們亦可以在 pd.Series() 函數中傳入 dict，如此一來字典中的鍵（Keys）會被記錄成為索引、字典中的值（Values）則會被記錄成為陣列中的資料

In [ ]:
# 創建Series 2
# 利用字典創造Series
# dictionary's key reflect Series' key
# dictionary's value reflect Series' value
movie_dict = {
    "The Dark Knight": 9.0,
    "Schindler's List": 8.9,
    "Forrest Gump": 8.8,
    "Inception": 8.7
}
ser = pd.Series(movie_dict)
print(movie_dict.keys())
print(movie_dict.values())
print("\n")
print(ser.index)
print(ser.values)
print(ser)

常見創建 DataFrame 的方式是使用 pd.DataFrame() 函數傳入多個「類似清單（list-like）」的物件，包含 list 、tuple 或 ndarray，並視需求指定變數名稱或索引；同樣地，若是在沒有指定索引的情況下，DataFrame 會自動以類似 range() 函數設定對應長度的索引

In [ ]:
movie_ratings = [9.0, 8.9, 8.8, 8.7]
movie_titles = ["The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
df = pd.DataFrame()
df["title"] = movie_titles
df["rating"] = movie_ratings
df

與 Series 相同，DataFrame 被設計成由一組索引與多組類似清單資料所搭建而成的資料結構，因此我們亦可以在 pd.DataFrame() 函數中傳入 dict，如此一來字典中的鍵（Keys）會被記錄成為變數名稱、字典中的值（Values）則會被記錄成為陣列中的資料

In [ ]:
movie_dict = {
    "title": ["The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"],
    "rating": [9.0, 8.9, 8.8, 8.7]
}
df = pd.DataFrame(movie_dict)
df

### (2) 資料載入

實務應用資料框物件時，多數情況都不會是手動輸入資料內容，而是由外部資料源載入
- 以逗號區隔變數的 CSV 文字檔
- 以 JSON 所組成的陣列文字檔
- 試算表
- 資料庫中的表格

In [ ]:
# 資料源一
# 使用 pd.read_csv() 函數讀入以逗號區隔變數的 CSV 文字檔
df = pd.read_csv("https://python4ds.s3-ap-northeast-1.amazonaws.com/movies.csv")
df

In [ ]:
# 資料源二 json => list of dictionary
# 使用 pd.read_json() 函數讀入以 JSON 所組成的陣列文字檔
df = pd.read_json("https://python4ds.s3-ap-northeast-1.amazonaws.com/movies.json")
df

In [ ]:
# 資料源三
# 使用 pd.read_excel() 函數讀入試算表
df = pd.read_excel("https://python4ds.s3-ap-northeast-1.amazonaws.com/movies.xlsx")
df

In [ ]:
# 資料源四
# 使用 pd.read_sql() 函數讀入資料庫中的表格
import sqlite3

# Creating a demo.db database in working directory
conn = sqlite3.connect('demo.db')
# Importing a table
movie_ratings = [9.0, 8.9, 8.8, 8.7]
movie_titles = ["The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
df = pd.DataFrame()
df["title"] = movie_titles
df["rating"] = movie_ratings
df.to_sql("movies", index=False, con=conn, if_exists='replace')
# Importing data from demo.movies
query_str = """
SELECT *
    FROM movies
    WHERE rating < 9.0;
"""
pd.read_sql(query_str, con=conn)

### (3) Series的索引、切割與篩選

In [ ]:
movie_ratings = [9.0, 8.9, 8.8, 8.7]
movie_titles = ["The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
ser = pd.Series(movie_ratings, index=movie_titles)
print(ser)
print(ser[0])
print(ser["Forrest Gump"])

進行資料值的切割時，可以在中括號輸入所需資料的起點與終點，傳入絕對位置則與 Python 慣例一致：不包含終點；若是傳入索引值則會包含終點

In [ ]:
movie_ratings = [9.0, 8.9, 8.8, 8.7]
movie_titles = ["The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
ser = pd.Series(movie_ratings, index=movie_titles)
print(ser[1:4])
print("          ")
print(ser["Schindler's List":"Inception"]) # 頭尾會包含

Series 繼承了 ndarray 的所有特性，因此完全適用華麗索引與布林索引這兩個便利的技法

In [ ]:
movie_ratings = [9.0, 8.9, 8.8, 8.7]
movie_titles = ["The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
ser = pd.Series(movie_ratings, index=movie_titles)
# Fancy indexing
print(ser[[1, 2, 3]])
print(ser[["Schindler's List", "Forrest Gump", "Inception"]])
print("  ")
# Boolean indexing
print("Boolean indexing")
print(ser < 9)
print("  ")
print(ser[ser < 9])

DataFrame 的選擇與篩選
利用 [COLUMN] 或 .COLUMN 能夠從資料框中選擇出單一或多個變數，成為一個 Series 或者變數欄位較少的資料框子集，實踐 SQL 語法中的 SELECT

In [ ]:
movie_ratings = [9.0, 8.9, 8.8, 8.7]
movie_titles = ["The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
release_years = [2008, 1993, 1994, 2010]
df = pd.DataFrame()
df["title"] = movie_titles
df["rating"] = movie_ratings
df["release_year"] = release_years
df
print(df)
print("   ")
print(df["title"])
print(df.rating)
df[["title", "release_year"]] # 選取兩個column要用list包起來

對資料框直接應用布林索引可以挑出符合條件（條件判斷結果為 True）的觀測值列數，實踐 SQL 語法中的 WHERE

In [ ]:
movie_ratings = [9.0, 8.9, 8.8, 8.7]
movie_titles = ["The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
release_years = [2008, 1993, 1994, 2010]
df = pd.DataFrame()
df["title"] = movie_titles
df["rating"] = movie_ratings
df["release_year"] = release_years
print(df["release_year"] > 2000)
df[df["release_year"] > 2000]

資料框類別尚有兩個索引語法（Indexer）可以方便使用者在一次的函數呼叫中就完成選擇與篩選兩個任務
- .loc[ROW_LABEL, COLUMN_LABEL] ：純粹以列、欄標籤為準進行選擇跟篩選
- .iloc[ROW_INDEX, COLUMN_INDEX] ：純粹以資料的整數位置（integer location）為準進行選擇跟篩選

In [ ]:
movie_ratings = [9.0, 8.9, 8.8, 8.7]
movie_titles = ["The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
release_years = [2008, 1993, 1994, 2010]

df = pd.DataFrame()
df["rating"] = movie_ratings
df["release_year"] = release_years
df.index = movie_titles
df

希望將上映年份在 2000 年之後的 “The Dark Knight” 與 “Inception” 利用索引語法選出來
使用 .loc[] 時必須傳入列標籤（電影名稱）與欄標籤（評等和上映年份）

In [ ]:
df.loc[["The Dark Knight", "Inception"], ["rating", "release_year"]]

In [ ]:
df.iloc[0, 0] #黑暗騎士的評分

In [ ]:
df.iloc[3, 1] #全面啟動的評分

In [ ]:
df.iloc[[0, 3], [0, 1]]

In [ ]:
df.iloc[[0, 3], :] # :是全選

### (4) 排序
- df.sort_index() ：依照資料框的列標籤遞增（預設）或遞減排序
- df.sort_values() ：依照指定的資料框欄標籤遞增（預設）或遞減排序

In [ ]:
df = pd.DataFrame()
df["rating"] = movie_ratings
df["release_year"] = release_years
df

In [ ]:
# 排序預設值為遞增排序(True)
df.sort_index(ascending=False)

In [ ]:
df.sort_values('release_year')

### (5) 衍生變數
- 簡單運算
- 類別對應類別
- 數值對應類別
- 函數映射

#### 簡單運算
過 Series 從 ndarray 繼承而來的元素級別運算（element-wise operation）特性即可實踐，像是運用身高、體重這兩個欄位衍生出球員的 BMI

In [ ]:
player_profile = pd.read_csv("https://python4ds.s3-ap-northeast-1.amazonaws.com/player_profile.csv")
player_profile.head()
# 衍生變數
player_profile["bmi"] = player_profile["weightKilograms"] / player_profile["heightMeters"]**2
player_profile[["temporaryDisplayName", "bmi"]].head()

#### 類別對應類別
透過 Series 的 .map() 方法來實踐，傳入 dict 作為對應的準則，字典的鍵（Key）為對應前的原始類別，字典的值（Value）為對應後的類別，例如將本來分類較細膩的鋒衛對應為較粗略的前場、後場

In [ ]:
player_profile['pos'].value_counts()

In [ ]:
pos_dict = {
    "G": "Backcourt",
    "F": "Frontcourt",
    "C": "Frontcourt",
    "G-F": "Backcourt",
    "F-C": "Frontcourt",
    "F-G": "Frontcourt",
    "C-F": "Frontcourt"
}
player_profile = pd.read_csv("https://python4ds.s3-ap-northeast-1.amazonaws.com/player_profile.csv")
print("Pos before mapping:")
player_profile["pos"].value_counts()

In [ ]:
pos_recoded = player_profile['pos'].map(pos_dict)
pos_recoded.value_counts()

#### 數值對應類別
透過 pd.cut() 函數將數值變數依照指定的門檻值或箱數切分成為類別變數，舉例來說將身高對應為小於等於 2 公尺以及超過 2 公尺兩個類別
換句話說，就是連續型轉為間斷型

In [ ]:
import numpy as np

player_profile = pd.read_csv("https://python4ds.s3-ap-northeast-1.amazonaws.com/player_profile.csv")
# 兩個區段需要給三個切點
player_profile["heightCategory"] = pd.cut(player_profile["heightMeters"], [0, 2, np.Inf], labels=["<= 2m", "> 2m"])
player_profile[["temporaryDisplayName", "heightMeters", "heightCategory"]].head(10)

#### 函數映射
透過 .apply() 方法來實踐，傳入函數或 lambda 表示式作為映射的準則，例如將本來分類較細膩的鋒衛對應為較粗略的 G、F 與 C

In [ ]:
def recode_pos(x):
    if x[0] == 'G':
        return 'G'
    elif x[0] == 'F':
        return 'F'
    elif x[0] == 'C':
        return 'C'

player_profile["pos_recoded"] = player_profile["pos"].apply(recode_pos)
player_profile["pos_recoded"].value_counts()

### (6) 摘要
- .count() 計算列數
- .mean() 與 .median() 計算平均和中位數
- .min() 與 .max() 計算最小和最大值
- .std() 與 .var() 計算標準差和變異數
- .prod() 計算乘積
- .sum() 計算總和

In [ ]:
df.max()

In [ ]:
# 對index做
df.max(axis=1)

In [ ]:
df['rating'].min()

In [ ]:
# 獲取資料最大最小值的索引值
# df["col_name"].idxmax()
# df["col_name"].idxmin()
# df.set_index('titles')
df['title'] = ["The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
df.set_index('title')
df['release_year'].idxmin()

隨堂練習：誰的背號數字最大？

In [ ]:
import pandas as pd

numbers = [9, 23, 33, 91, 13]
players = ["Ron Harper", "Michael Jordan", "Scottie Pippen", "Dennis Rodman", "Luc Longley"]
df = pd.DataFrame()
df["number"] = numbers
df["player"] = players
df

In [ ]:
df = df.set_index('player')
df

In [ ]:
df['number'].idxmax()

In [ ]:
df['number'].idxmin()

### (7) 獲取類別資料的摘要
- df["col_name"].nunique()
- df["col_name"].unique()
- df["col_name"].value_counts()

In [ ]:
player_profile['country']

In [ ]:
player_profile['country'].nunique()

In [ ]:
player_profile['country'].unique()

In [ ]:
player_profile['country'].value_counts()

### (8) 分組摘要
更多的應用情境中我們會指定一些類別變數分組，在分組的前提下對資料框變數呼叫簡單的摘要方法，這樣的操作源自於 SQL 資料庫查詢語言的 GROUP BY 語法

In [ ]:
player_profile['heightMeters'].mean()

In [ ]:
# 若不用group_by 需要用迴圈!!!!
# 是一種生成式
groupby_object = player_profile.groupby("pos")

In [ ]:
print(groupby_object["heightMeters"].mean()) # Average height by pos
print("\n")
print(groupby_object["weightKilograms"].mean()) # Average weight by pos

### (9) 常用的列索引相關方法
- df.set_index("col_name")
- df.reset_index()

In [ ]:
movie_ratings = [9.0, 8.9, 8.8, 8.7]
movie_titles = ["The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
release_years = [2008, 1993, 1994, 2010]
df = pd.DataFrame()
df["title"] = movie_titles
df["rating"] = movie_ratings
df["release_year"] = release_years
df

In [ ]:
df.set_index('title')

In [ ]:
df.reset_index(drop=True)

In [ ]:
final_df = df[df['release_year'] > 2005]
final_df.reset_index(drop=True) #不保留舊索引

## 奧運獎牌排行

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://python4ds.s3-ap-northeast-1.amazonaws.com/olympics.csv", index_col=0)

In [ ]:
df.head()

In [ ]:
def answer_1(df):
    return df['Gold'].idxmax()

answer_1(df)

In [ ]:
#隨堂練習：哪個國家夏季奧運與冬季奧運的金牌數差距數最大？
def answer_2(df):
    return (df["Gold"] - df["Gold.1"]).abs().idxmax()

answer_2(df)

In [ ]:
#隨堂練習：哪個國家夏季奧運與冬季奧運的金牌數差距除以總金牌數的比例最大？（僅考慮至少有一個夏季金牌與一個冬季金牌的國家）
def answer_3(df):
    ratio = (df["Gold"] - df["Gold.1"]) / df["Gold.2"]
    return ratio[ratio != 1].idxmax()

answer_3(df)

In [ ]:
#隨堂練習：計算 146 個國家的獎牌點數，金牌 3 點、銀牌 2 點、銅牌 1 點。
def answer_4(df):
    return 3*df['Gold.2'] + 2*df['Silver.2'] + df['Bronze.2']

answer_4(df)

## DataFrame的進階操作

## 美國普查

In [ ]:
import pandas as pd

census_df = pd.read_csv('https://storage.googleapis.com/py_ml_datasets/census.csv')
census_df.shape

In [ ]:
census_df.head()

In [ ]:
#隨堂練習：哪個州（state）的郡（county）數最多？
def answer_1(df):
    ser = df["STNAME"].value_counts()
    return ser.idxmax()

answer_1(census_df)

In [ ]:
#隨堂練習：僅考慮每州（state）人口最多的三個郡（county）計算人口總和（CENSUS2010POP），哪三個州總和數最多？（請注意 SUMLEV 變數）

In [ ]:
county_data = census_df[census_df["SUMLEV"]==50]
state_names = county_data["STNAME"].unique()
top3_pop_summation = []
for state_name in state_names:
    single_state = county_data[county_data['STNAME'] == state_name]
    single_state_sorted = single_state.sort_values("CENSUS2010POP", ascending=False)
    top3_pop = single_state_sorted['CENSUS2010POP'].values[:3]
    top3_pop_sum = top3_pop.sum()
    top3_pop_summation.append(top3_pop_sum)
print(top3_pop_summation)

In [ ]:
ser = pd.Series(top3_pop_summation, index=state_names)

In [ ]:
ser_sorted = ser.sort_values(ascending=False)
ans = list(ser_sorted[:3].index)

In [ ]:
def answer_2(df):
    # filter county data
    county_data = census_df[census_df["SUMLEV"]==50]
    # iteration for 51 states
    state_names = county_data["STNAME"].unique()
    top3_pop_summation = []
    for state_name in state_names:
        single_state = county_data[county_data['STNAME'] == state_name]
        single_state_sorted = single_state.sort_values("CENSUS2010POP", ascending=False)
        top3_pop = single_state_sorted['CENSUS2010POP'].values[:3]
        top3_pop_sum = top3_pop.sum()
        top3_pop_summation.append(top3_pop_sum)
    
    #Answer
    ser = pd.Series(top3_pop_summation, index=state_names)
    ser_sorted = ser.sort_values(ascending=False)
    ans = list(ser_sorted[:3].index)
    
    return ans

In [ ]:
answer_2(census_df)

In [ ]:
# 另解
census_df['CENSUS2010POP'].nlargest(3)

In [ ]:
groupby_object = county_data.groupby("STNAME")

In [ ]:
top3_by_state = groupby_object['CENSUS2010POP'].nlargest(3)

In [ ]:
groupby_object = top3_by_state.groupby('STNAME')
ser = groupby_object.sum()

In [ ]:
ser.nlargest(3)

In [ ]:
ans = list(ser.nlargest(3).index)
print(ans)

In [ ]:
def answer_22(df):
    # filter county data
    county_data = df[df["SUMLEV"]==50]
    
    #nlargest state level
    groupby_object = county_data.groupby("STNAME")
    top3_by_state = groupby_object['CENSUS2010POP'].nlargest(3)
    groupby_object = top3_by_state.groupby('STNAME')
    
    #nlargest nation level
    ser = groupby_object.sum()
    ans = list(ser.nlargest(3).index)
    
    return ans

answer_22(census_df)

In [ ]:
#隨堂練習：哪個郡（county）在 2010-2015 期間人口改變數量最高？（POPESTIMATE2010:POPESTIMATE2015 這六個變數）
#提示：如果 6 年的人口數分別為 120, 80, 105, 100, 130, 120 則人口改變數量為 130-80 = 50

pop_max = county_data.loc[:, "POPESTIMATE2010":"POPESTIMATE2015"].max(axis=1)

In [ ]:
pop_min = county_data.loc[:, "POPESTIMATE2010":"POPESTIMATE2015"].min(axis=1)

In [ ]:
pop_dif = pop_max - pop_min

In [ ]:
max_pop_diff_index = pop_dif.idxmax()

In [ ]:
county_data['CTYNAME'][max_pop_diff_index]

In [ ]:
def answer_3(df):
    # filter county_data
    county_data = df[df["SUMLEV"]==50]
    
    #summerize by rows
    pop_max = county_data.loc[:, "POPESTIMATE2010":"POPESTIMATE2015"].max(axis=1)
    pop_min = county_data.loc[:, "POPESTIMATE2010":"POPESTIMATE2015"].min(axis=1)
    pop_dif = pop_max - pop_min
    max_pop_diff_index = pop_dif.idxmax()
    ans = county_data['CTYNAME'][max_pop_diff_index]
    return ans
    
answer_3(census_df)

In [ ]:
#隨堂練習：篩選出屬於 REGION 1 或 2、開頭名稱為 Washington 並且 POPESTIMATE2015 大於 POPESTIMATE2014 的郡（county）
region_filter = (county_data["REGION"] == 1) | (county_data["REGION"] == 2)
county_data[region_filter].shape

In [ ]:
ctyname_filter = county_data["CTYNAME"].str.contains('Washington')
county_data[ctyname_filter].shape

In [ ]:
pop_filter = county_data['POPESTIMATE2015'] > county_data['POPESTIMATE2014']
county_data[pop_filter].shape

In [ ]:
interset_filter = region_filter & ctyname_filter & pop_filter

In [ ]:
county_data[interset_filter][['STNAME','CTYNAME']].reset_index(drop=True)

In [ ]:
def answer_4(df):
    # filter county_data
    county_data = df[df["SUMLEV"]==50]
    
    #create filter
    region_filter = (county_data["REGION"] == 1) | (county_data["REGION"] == 2)
    ctyname_filter = county_data["CTYNAME"].str.contains('Washington')
    pop_filter = county_data['POPESTIMATE2015'] > county_data['POPESTIMATE2014']
    interset_filter = region_filter & ctyname_filter & pop_filter
    answer_filter = county_data[interset_filter]
    answer_select = answer_filter[['STNAME','CTYNAME']]
    ans = answer_select.reset_index(drop=True)
    return ans

In [ ]:
answer_4(census_df)

# Pandas專題

## 前處理

(邊做邊試)
先處理合併儲存格，dataframe不處理合併儲存格。
遺漏值是要去處理的
不需要小計、總計

處理步驟:
1. 建立具有中文的資料來源網址
2. 讀入試算表為資料框
3. 判斷候選人人數
4. 給定欄位名
5. 填補行政區缺失
6. 清理行政區的空字串
7. 刪除得票數總計、小計列

### 建立具有中文的資料來源網址

In [3]:
from urllib.parse import quote

file_name = "總統-A05-4-候選人得票數一覽表-各投開票所(臺北市).xls"
file_name_url = quote(file_name) #轉換網址名稱
print(file_name_url)

%E7%B8%BD%E7%B5%B1-A05-4-%E5%80%99%E9%81%B8%E4%BA%BA%E5%BE%97%E7%A5%A8%E6%95%B8%E4%B8%80%E8%A6%BD%E8%A1%A8-%E5%90%84%E6%8A%95%E9%96%8B%E7%A5%A8%E6%89%80%28%E8%87%BA%E5%8C%97%E5%B8%82%29.xls

### 讀取檔案

In [4]:
import pandas as pd

file_path = "https://taiwan-election-data.s3-ap-northeast-1.amazonaws.com/presidential_2020/{}".format(file_name_url)
xls_df = pd.read_excel(file_path, skiprows=[0, 1, 3, 4]) #略過合併儲存格的列
xls_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,(1)\n宋楚瑜\n余湘,(2)\n韓國瑜\n張善政,(3)\n蔡英文\n賴清德,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,總 計,NaN,NaN,"70,769","685,830","875,854","1,632,453","21,381","1,653,834",143,"1,653,977","513,287","2,167,264",76.3098
1,松山區,NaN,NaN,"5,436","55,918","64,207","125,561","1,762","127,323",2,"127,325","37,329","164,654",77.3276
2,NaN,莊敬里,573.0,36,391,429,856,14,870,0,870,230,"1,100",79.0909
3,NaN,莊敬里,574.0,46,382,438,866,12,878,0,878,259,"1,137",77.2208
4,NaN,莊敬里,575.0,48,393,389,830,22,852,0,852,262,"1,114",76.4811

### 確定幾位候選人

In [5]:
column_names = list(xls_df.columns)
n_candidates = len(column_names) - 11
candidate_numbers_names = column_names[3:(3+n_candidates)]
print(candidate_numbers_names)

['(1)\n宋楚瑜\n余湘', '(2)\n韓國瑜\n張善政', '(3)\n蔡英文\n賴清德']

### 給定欄位名稱

In [6]:
from string import ascii_uppercase

column_names = ["district", "village", "office"] + candidate_numbers_names + list(ascii_uppercase[:8])
xls_df.columns = column_names
xls_df.head()

,district,village,office,(1)\n宋楚瑜\n余湘,(2)\n韓國瑜\n張善政,(3)\n蔡英文\n賴清德,A,B,C,D,E,F,G,H
0,總 計,NaN,NaN,"70,769","685,830","875,854","1,632,453","21,381","1,653,834",143,"1,653,977","513,287","2,167,264",76.3098
1,松山區,NaN,NaN,"5,436","55,918","64,207","125,561","1,762","127,323",2,"127,325","37,329","164,654",77.3276
2,NaN,莊敬里,573.0,36,391,429,856,14,870,0,870,230,"1,100",79.0909
3,NaN,莊敬里,574.0,46,382,438,866,12,878,0,878,259,"1,137",77.2208
4,NaN,莊敬里,575.0,48,393,389,830,22,852,0,852,262,"1,114",76.4811

In [7]:
imputed_district = xls_df['district']
imputed_district = imputed_district.fillna(method="ffill")
print(imputed_district)

0        總　計
1       　松山區
2       　松山區
3       　松山區
4       　松山區
        ...
1736    　北投區
1737    　北投區
1738    　北投區
1739    　北投區
1740    　北投區
Name: district, Length: 1741, dtype: object

In [8]:
xls_df = xls_df.drop('district', axis=1)

In [9]:
# 插入欄位
xls_df.insert(0, 'district', imputed_district)

In [10]:
xls_df.head(100)

,district,village,office,(1)\n宋楚瑜\n余湘,(2)\n韓國瑜\n張善政,(3)\n蔡英文\n賴清德,A,B,C,D,E,F,G,H
0,總 計,NaN,NaN,"70,769","685,830","875,854","1,632,453","21,381","1,653,834",143,"1,653,977","513,287","2,167,264",76.3098
1,松山區,NaN,NaN,"5,436","55,918","64,207","125,561","1,762","127,323",2,"127,325","37,329","164,654",77.3276
2,松山區,莊敬里,573.0,36,391,429,856,14,870,0,870,230,"1,100",79.0909
3,松山區,莊敬里,574.0,46,382,438,866,12,878,0,878,259,"1,137",77.2208
4,松山區,莊敬里,575.0,48,393,389,830,22,852,0,852,262,"1,114",76.4811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,松山區,吉祥里,1485.0,45,428,440,913,14,927,0,927,269,"1,196",77.5084
96,松山區,新聚里,1486.0,38,428,548,"1,014",15,"1,029",0,"1,029",323,"1,352",76.1095
97,松山區,新聚里,1487.0,50,407,627,"1,084",11,"1,095",0,"1,095",290,"1,385",79.0614
98,松山區,新聚里,1488.0,39,432,528,999,10,"1,009",0,"1,009",326,"1,335",75.5805
99,松山區,新聚里,1489.0,42,415,606,"1,063",4,"1,067",0,"1,067",298,"1,365",78.1685

### 清理空字串

In [11]:
print(xls_df["district"].unique())

# \u3000 是全形空字串

['總\u3000計' '\u3000松山區' '\u3000信義區' '\u3000大安區' '\u3000中山區' '\u3000中正區'
 '\u3000大同區' '\u3000萬華區' '\u3000文山區' '\u3000南港區' '\u3000內湖區' '\u3000士林區'
 '\u3000北投區']

In [12]:
xls_df['district'] = xls_df['district'].str.replace('\u3000', '').str.strip()

In [13]:
print(xls_df["district"].unique())

['總計' '松山區' '信義區' '大安區' '中山區' '中正區' '大同區' '萬華區' '文山區' '南港區' '內湖區' '士林區'
 '北投區']

### 刪除得票數總計、小計列

In [14]:
xls_df = xls_df.dropna().reset_index(drop=True)

In [15]:
xls_df.head()

,district,village,office,(1)\n宋楚瑜\n余湘,(2)\n韓國瑜\n張善政,(3)\n蔡英文\n賴清德,A,B,C,D,E,F,G,H
0,松山區,莊敬里,573.0,36,391,429,856,14,870,0,870,230,"1,100",79.0909
1,松山區,莊敬里,574.0,46,382,438,866,12,878,0,878,259,"1,137",77.2208
2,松山區,莊敬里,575.0,48,393,389,830,22,852,0,852,262,"1,114",76.4811
3,松山區,莊敬里,576.0,43,389,462,894,14,908,0,908,271,"1,179",77.0144
4,松山區,東榮里,577.0,38,431,545,"1,014",18,"1,032",0,"1,032",272,"1,304",79.1411

### 封裝程式

In [16]:
import pandas as pd
from string import ascii_uppercase  


def get_tidy_data(file_path):
    xls_df = pd.read_excel(file_path, skiprows=[0, 1, 3, 4]) #略過合併儲存格的列
    column_names = list(xls_df.columns)
    n_candidates = len(column_names) - 11
    candidate_numbers_names = column_names[3:(3+n_candidates)]
    column_names = ["district", "village", "office"] + candidate_numbers_names + list(ascii_uppercase[:8])
    xls_df.columns = column_names
    imputed_district = xls_df['district']
    imputed_district = imputed_district.fillna(method="ffill")
    xls_df = xls_df.drop('district', axis=1)
    xls_df.insert(0, 'district', imputed_district)
    xls_df['district'] = xls_df['district'].str.replace('\u3000', '').str.strip()
    tidy_data = xls_df.dropna().reset_index(drop=True)
    return tidy_data

In [17]:
from urllib.parse import quote

file_name = "總統-A05-4-候選人得票數一覽表-各投開票所(新北市).xls"
file_name_url = quote(file_name) #轉換網址名稱
print(file_name_url)

file_path = "https://taiwan-election-data.s3-ap-northeast-1.amazonaws.com/presidential_2020/{}".format(file_name_url)

%E7%B8%BD%E7%B5%B1-A05-4-%E5%80%99%E9%81%B8%E4%BA%BA%E5%BE%97%E7%A5%A8%E6%95%B8%E4%B8%80%E8%A6%BD%E8%A1%A8-%E5%90%84%E6%8A%95%E9%96%8B%E7%A5%A8%E6%89%80%28%E6%96%B0%E5%8C%97%E5%B8%82%29.xls

In [18]:
get_tidy_data(file_path)

,district,village,office,(1)\n宋楚瑜\n余湘,(2)\n韓國瑜\n張善政,(3)\n蔡英文\n賴清德,A,B,C,D,E,F,G,H
0,板橋區,留侯里,1124.0,58,430,557,"1,045",24,"1,069",0,"1,069",304,"1,373",77.8587
1,板橋區,流芳里,1125.0,50,345,534,929,6,935,0,935,311,"1,246",75.0401
2,板橋區,赤松里,1126.0,24,218,336,578,15,593,0,593,153,746,79.4906
3,板橋區,黃石里,1127.0,35,248,423,706,13,719,0,719,230,949,75.7640
4,板橋區,挹秀里,1128.0,37,289,351,677,13,690,0,690,188,878,78.5877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2554,烏來區,烏來里,2300.0,38,363,438,839,5,844,0,844,324,"1,168",72.2603
2555,烏來區,烏來里,2301.0,47,454,304,805,9,814,0,814,330,"1,144",71.1538
2556,烏來區,孝義里,2302.0,3,63,112,178,4,182,0,182,51,233,78.1116
2557,烏來區,信賢里,2303.0,11,158,172,341,6,347,0,347,136,483,71.8427
2558,烏來區,福山里,2304.0,12,252,110,374,8,382,0,382,221,603,63.3499

### 盤點多張試算表

In [19]:
admin_areas = ["臺北市", "新北市", "桃園市", "臺中市", "臺南市", "高雄市", "新竹縣", "苗栗縣", "彰化縣", "南投縣", "雲林縣", "嘉義縣", "屏東縣", "宜蘭縣", "花蓮縣", "臺東縣", "澎湖縣", "基隆市", "新竹市", "嘉義市", "金門縣", "連江縣"]
file_names = ["總統-A05-4-候選人得票數一覽表-各投開票所({}).xls".format(admin_area) for admin_area in admin_areas]
file_name_urls = [quote(file_name) for file_name in file_names]
file_paths = ["https://taiwan-election-data.s3-ap-northeast-1.amazonaws.com/presidential_2020/{}".format(file_name_url) for file_name_url in file_name_urls]

In [20]:
df_dict = {}
for file_path, admin_area in zip(file_paths, admin_areas):
    tidy_df = get_tidy_data(file_path)
    df_dict[admin_area] = tidy_df
    print("現在正在處理{}的資料...".format(admin_area))
    print("資料外觀為：", tidy_df.shape)

現在正在處理臺北市的資料...
資料外觀為： (1728, 14)
現在正在處理新北市的資料...
資料外觀為： (2559, 14)
現在正在處理桃園市的資料...
資料外觀為： (1242, 14)
現在正在處理臺中市的資料...
資料外觀為： (1849, 14)
現在正在處理臺南市的資料...
資料外觀為： (1507, 14)
現在正在處理高雄市的資料...
資料外觀為： (2006, 14)
現在正在處理新竹縣的資料...
資料外觀為： (445, 14)
現在正在處理苗栗縣的資料...
資料外觀為： (480, 14)
現在正在處理彰化縣的資料...
資料外觀為： (1071, 14)
現在正在處理南投縣的資料...
資料外觀為： (492, 14)
現在正在處理雲林縣的資料...
資料外觀為： (609, 14)
現在正在處理嘉義縣的資料...
資料外觀為： (530, 14)
現在正在處理屏東縣的資料...
資料外觀為： (705, 14)
現在正在處理宜蘭縣的資料...
資料外觀為： (421, 14)
現在正在處理花蓮縣的資料...
資料外觀為： (324, 14)
現在正在處理臺東縣的資料...
資料外觀為： (236, 14)
現在正在處理澎湖縣的資料...
資料外觀為： (119, 14)
現在正在處理基隆市的資料...
資料外觀為： (274, 14)
現在正在處理新竹市的資料...
資料外觀為： (344, 14)
現在正在處理嘉義市的資料...
資料外觀為： (191, 14)
現在正在處理金門縣的資料...
資料外觀為： (84, 14)
現在正在處理連江縣的資料...
資料外觀為： (10, 14)

In [21]:
df_dict['臺北市'].head()

,district,village,office,(1)\n宋楚瑜\n余湘,(2)\n韓國瑜\n張善政,(3)\n蔡英文\n賴清德,A,B,C,D,E,F,G,H
0,松山區,莊敬里,573.0,36,391,429,856,14,870,0,870,230,"1,100",79.0909
1,松山區,莊敬里,574.0,46,382,438,866,12,878,0,878,259,"1,137",77.2208
2,松山區,莊敬里,575.0,48,393,389,830,22,852,0,852,262,"1,114",76.4811
3,松山區,莊敬里,576.0,43,389,462,894,14,908,0,908,271,"1,179",77.0144
4,松山區,東榮里,577.0,38,431,545,"1,014",18,"1,032",0,"1,032",272,"1,304",79.1411

In [22]:
df_dict['新北市'].head()

,district,village,office,(1)\n宋楚瑜\n余湘,(2)\n韓國瑜\n張善政,(3)\n蔡英文\n賴清德,A,B,C,D,E,F,G,H
0,板橋區,留侯里,1124.0,58,430,557,"1,045",24,"1,069",0,"1,069",304,"1,373",77.8587
1,板橋區,流芳里,1125.0,50,345,534,929,6,935,0,935,311,"1,246",75.0401
2,板橋區,赤松里,1126.0,24,218,336,578,15,593,0,593,153,746,79.4906
3,板橋區,黃石里,1127.0,35,248,423,706,13,719,0,719,230,949,75.7640
4,板橋區,挹秀里,1128.0,37,289,351,677,13,690,0,690,188,878,78.5877

## 多張試算表處理步驟-垂直合併
1. 將歸屬於「投票所」的變數欄位捨棄
2. 轉置資料框將得票數歸屬到「候選人」
3. 垂直合併 22 個資料框
4. 新增「候選人號碼」與「候選人姓名」
5. 新增「政黨」
6. 調整變數的型別

In [ ]:
tpe = df_dict['臺北市']
tpe.head()

In [ ]:
tpe.drop(list(ascii_uppercase[:8]), axis=1)

In [ ]:
# 轉置
candidate_infos = list(tpe.columns[3:])
tpe = pd.melt(tpe, id_vars=['district', 'village', 'office'], value_vars=candidate_infos, var_name="candidate_info", value_name='votes')
tpe.head()

In [25]:
presidential_votes = pd.DataFrame()

for admin_area in admin_areas:
    admin_area_df = df_dict[admin_area]
    #drop
    admin_area_df = admin_area_df.drop(list(ascii_uppercase[:8]), axis=1)
    
    #transpose
    candidate_infos = list(admin_area_df.columns[3:])
    long_format = pd.melt(admin_area_df, id_vars=['district', 'village', 'office'], value_vars=candidate_infos, var_name="candidate_info", value_name='votes')
    long_format['admin_area'] = admin_area
    presidential_votes = presidential_votes.append(long_format)
    
presidential_votes = presidential_votes.reset_index(drop=True)

In [26]:
presidential_votes.head()

  district village  office candidate_info votes admin_area
0      松山區     莊敬里   573.0   (1)\n宋楚瑜\n余湘    36        臺北市
1      松山區     莊敬里   574.0   (1)\n宋楚瑜\n余湘    46        臺北市
2      松山區     莊敬里   575.0   (1)\n宋楚瑜\n余湘    48        臺北市
3      松山區     莊敬里   576.0   (1)\n宋楚瑜\n余湘    43        臺北市
4      松山區     東榮里   577.0   (1)\n宋楚瑜\n余湘    38        臺北市

In [27]:
presidential_votes.tail()

      district          village  office candidate_info votes admin_area
51673      北竿鄉          塘岐村、后沃村     6.0  (3)\n蔡英文\n賴清德   121        連江縣
51674      北竿鄉  橋仔村、芹壁村、坂里村、白沙村     7.0  (3)\n蔡英文\n賴清德    80        連江縣
51675      莒光鄉      青帆村、田沃村、西坵村     8.0  (3)\n蔡英文\n賴清德    43        連江縣
51676      莒光鄉          福正村、大坪村     9.0  (3)\n蔡英文\n賴清德    62        連江縣
51677      東引鄉          中柳村、樂華村    10.0  (3)\n蔡英文\n賴清德   136        連江縣

In [28]:
split_candidate_info = presidential_votes["candidate_info"].str.split("\n", expand=True)
presidential_votes["number"] = split_candidate_info[0].str.replace('\(', '').str.replace('\)', '') #小括號是在集合有意義的，所以要加 \(跳脫字元)
presidential_votes["candidates"] = split_candidate_info[1].str.cat(split_candidate_info[2], '/')
presidential_votes.head()

  district village  office candidate_info votes admin_area number candidates
0      松山區     莊敬里   573.0   (1)\n宋楚瑜\n余湘    36        臺北市      1     宋楚瑜/余湘
1      松山區     莊敬里   574.0   (1)\n宋楚瑜\n余湘    46        臺北市      1     宋楚瑜/余湘
2      松山區     莊敬里   575.0   (1)\n宋楚瑜\n余湘    48        臺北市      1     宋楚瑜/余湘
3      松山區     莊敬里   576.0   (1)\n宋楚瑜\n余湘    43        臺北市      1     宋楚瑜/余湘
4      松山區     東榮里   577.0   (1)\n宋楚瑜\n余湘    38        臺北市      1     宋楚瑜/余湘

In [29]:
def get_party(number):
    if number == '1':
        party = '親民黨'
    elif number == '2':
        party = '中國國民黨'
    elif number =='3':
        party = '民主進步黨'
    
    return party

In [30]:
presidential_votes['party'] = presidential_votes['number'].apply(get_party)

In [31]:
presidential_votes['party'].value_counts()

中國國民黨    17226
民主進步黨    17226
親民黨      17226
Name: party, dtype: int64

In [32]:
presidential_votes.shape

(51678, 9)

In [33]:
presidential_votes = presidential_votes[["admin_area", "district", "village", "office", "number", "party", "candidates", "votes"]]

In [34]:
presidential_votes

,admin_area,district,village,office,number,party,candidates,votes
0,臺北市,松山區,莊敬里,573.0,1,親民黨,宋楚瑜/余湘,36
1,臺北市,松山區,莊敬里,574.0,1,親民黨,宋楚瑜/余湘,46
2,臺北市,松山區,莊敬里,575.0,1,親民黨,宋楚瑜/余湘,48
3,臺北市,松山區,莊敬里,576.0,1,親民黨,宋楚瑜/余湘,43
4,臺北市,松山區,東榮里,577.0,1,親民黨,宋楚瑜/余湘,38
...,...,...,...,...,...,...,...,...
51673,連江縣,北竿鄉,塘岐村、后沃村,6.0,3,民主進步黨,蔡英文/賴清德,121
51674,連江縣,北竿鄉,橋仔村、芹壁村、坂里村、白沙村,7.0,3,民主進步黨,蔡英文/賴清德,80
51675,連江縣,莒光鄉,青帆村、田沃村、西坵村,8.0,3,民主進步黨,蔡英文/賴清德,43
51676,連江縣,莒光鄉,福正村、大坪村,9.0,3,民主進步黨,蔡英文/賴清德,62
51677,連江縣,東引鄉,中柳村、樂華村,10.0,3,民主進步黨,蔡英文/賴清德,136

In [35]:
presidential_votes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51678 entries, 0 to 51677
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   admin_area  51678 non-null  object
 1   district    51678 non-null  object
 2   village     51678 non-null  object
 3   office      51678 non-null  float64
 4   number      51678 non-null  object
 5   party       51678 non-null  object
 6   candidates  51678 non-null  object
 7   votes       51678 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.2+ MB

In [36]:
presidential_votes['number'] = presidential_votes['number'].astype(int)
presidential_votes['office'] = presidential_votes['office'].astype(int)
presidential_votes['votes'] = presidential_votes['votes'].astype(str)
presidential_votes['votes'] = presidential_votes['votes'].str.replace(',', '').astype(int)

In [37]:
presidential_votes.to_csv('presidential_votes.csv', index=False, encoding='utf_8_sig')